.missions-page {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;
}

.mission-card {
  width: 950px;

  background:
    rgba(20,10,35,0.95);

  border-radius: 40px;

  padding: 50px;

  border:
    1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 0 40px rgba(176,38,255,0.2);

  text-align: center;
}

.mission-card h1 {
  font-size: 60px;
  color: gold;
}

.subtitle {
  margin-top: 10px;
  color: #ccc;
  font-size: 22px;
}

.mission-box {
  margin-top: 40px;
}

.mission-label {
  color: #999;
  font-size: 18px;
}

.mission-box h2 {
  margin-top: 10px;
  font-size: 38px;
}

.gnome-wrapper {
  margin-top: 40px;

  display: flex;
  justify-content: center;
}

.mission-gnome {
  width: 320px;

  animation:
    floatGnome 2s ease-in-out infinite;

  filter:
    drop-shadow(
      0 0 30px rgba(176,38,255,0.5)
    );
}

@keyframes floatGnome {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.message-box {
  margin-top: 30px;

  background:
    rgba(255,255,255,0.05);

  padding: 25px;

  border-radius: 25px;

  font-size: 28px;
  font-weight: bold;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin-top: 40px;
}

.stat-card {
  width: 200px;

  background:
    rgba(255,255,255,0.04);

  padding: 25px;

  border-radius: 25px;
}

.stat-card h3 {
  font-size: 20px;
  color: #bbb;
}

.stat-card p {
  margin-top: 10px;
  font-size: 34px;
  font-weight: bold;
}

.progress-section {
  margin-top: 40px;
}

.progress-top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 12px;

  font-size: 20px;
}

.progress-bar {
  width: 100%;
  height: 24px;

  background:
    rgba(255,255,255,0.08);

  border-radius: 20px;

  overflow: hidden;
}

.progress-fill {
  height: 100%;

  background:
    linear-gradient(
      to right,
      #b026ff,
      #ff00c8
    );

  transition: 0.4s;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 25px;

  margin-top: 50px;
}

.buttons button {
  border: none;

  padding: 22px 35px;

  border-radius: 20px;

  font-size: 20px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.buttons button:hover {
  transform: scale(1.08);
}

.feed-btn {
  background: gold;
  color: black;
}

.tickle-btn {
  background: #8f2fff;
  color: white;
}

.slap-btn {
  background: #ff3b5c;
  color: white;
}